$application-padding: $default-margin;

body, html {
    overflow-y: hidden;
}

#app-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.application {
    max-width: 100%;
    flex: 1 0 auto;
    padding: $application-padding;
    display: flex;
    flex-flow: column nowrap;
}

.application-menu {
    padding: $application-padding;
}

.application-header {
    flex: 0 0 auto;
    position: relative;
    .appmenu-icon {
        left: 0;
        top: 0;
        position: absolute;
    }
    text-align: center;
}

.application-title {
    font-weight: bold;
}

.view {
    flex: 1 0 auto;
    margin-top: $default-margin;    
    overflow-y: auto;    
}