// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-lighter: #fafafa;
$white: #fdfdfd;

//Application-wide variables
$DefaultTransition: .4s;
$FastTransition: .3s;
$SlideInDuration: $DefaultTransition;
$AppMenuWidth: 75vw;
$default-margin: 10px;
$line-height: 1.15em;
$default-shadow: 1px 2px 1px rgba(0,0,0,0.6);

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-lighter;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$desktop: 720px;
$gap: 128px;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$hover-background: $beige-lighter;

$large-spacing: 2em;
#app {
    padding: $large-spacing;
}

.card {
    margin-bottom: $large-spacing;
}