.icon {
    &.is-xlarge {
        width: 3.5rem;
        height: 3.5rem;
    }
    border-radius: 50%;
    transition: box-shadow .6s;

    &:hover {
        box-shadow: 2px 2px 3px $hover-background;
    }

    i {
        font-size: 2rem;
    }
}
