.journal {
    .post {
        line-height: $line-height;
        padding: 2px;
        display: flex;
        align-items: center;
        margin-bottom: $default-margin;
        max-width: 100%;

        .date {
            max-width: 35px;
            width: 35px;

            font-weight: bold;
            flex: 0 0 35px;
            display: flex;

            p {
                flex: 0 0 auto;
                text-align: center;
            }
        }

        .log {
            display: block;
            padding: 1px 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1 1 auto;
        }
    }

    .calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 2.8em);
        grid-gap: 2px;
        gap: 2px;
        margin-top: .5em;
        margin-bottom: 1em;

        .day {
            border: 1px solid $accent-color;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;

            .date {
                
            }

            &.prev-month, &.next-month {
                opacity: .4;
            }

            &.current {
                border: 3px solid $accent-background;
            }
            &.passed {
                background: orange;
            }
            &.old {
                background: rgba(255,32,32,.8);
                color: $white;
            }

            &.has-post {
                background-color: lightgreen;
                color: $text;
            }
        }
    }

}


/* THEME */
.theme-default {
    $accent-background: lighten(#C2CFF3, 10%);

    .journal .post {
        transition: background-color $FastTransition;
        background-color: transparent;

        &:hover{
            background-color: $accent-background;
        }
    }
}