.journal {
    .post {
        line-height: $line-height;
        padding: 2px;
        display: flex;
        align-items: center;
        margin-bottom: $default-margin;
        max-width: 100%;

        .date {
            max-width: 35px;
            width: 35px;

            font-weight: bold;
            flex: 0 0 35px;
            display: flex;

            p {
                flex: 0 0 auto;
                text-align: center;
            }
        }

        .log {
            display: block;
            padding: 1px 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1 1 auto;
        }
    }
}


/* THEME */
.theme-default {
    $accent-background: lighten(#C2CFF3, 10%);

    .journal .post {
        transition: background-color $FastTransition;
        background-color: transparent;

        &:hover{
            background-color: $accent-background;
        }
    }
}