.panel {
    .choice {

        display: flex;
        justify-content: center;

        & > * {
            cursor: pointer;
            opacity: .5;
            transition: opacity .5s, color .5s;
            &:hover {
                opacity: 1;
            }

            &:active, &.active {
                color: blue;
            }
        }
    }

    height: 8rem;

    transition: height .8s, margin-bottom .8s;
    &.removing {
        height: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
}