.post-title {
    font-weight: bold;

    .year {
        font-weight: normal;
    }
}

.view.post {
    display: flex;
    flex-flow: column nowrap;

    .body {
        flex: 1 0 auto;
        font-size: 1em;
        line-height: 1.5em;
        outline: none;
        border: none;
    }

    footer {
        background: $accent-background;
        text-align: center;
        font-weight: bold;
        color: $white;
    }
}

.create-post {
    .module {
        //border: 1px solid gray;
        padding: 5px;
        margin-bottom: $default-margin*1.5;
        box-shadow: $default-shadow;

        header {
            line-height: 1em;
            margin: $default-margin/2 0;
            font-size: 80%;
            font-weight: bold;
            text-align: center;
        }

        .select {
            margin: $default-margin;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $default-margin;

            .option {
                text-align: center;

                .icon {
                    height: 2.5rem;
                    width: 2.5rem;
                }
                i {
                    font-size: 2rem;
                }
            }

            &.has-value {
                .option {
                    transition: opacity $FastTransition;
                    opacity: .3;
                    &.selected {
                        transition: opacity $FastTransition;
                        opacity: 1;
                    }
                }
            }
        }

        &.hidden {
            display: none;
        }

        &.module-log {
            .select {
                grid-template-columns: repeat(2, 1fr);

                .option {
                    border: 1px solid $accent-color;
                }
            }
        }
    }
}