.side-panel {
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;

    .background {
        transition: opacity $SlideInDuration ease-in-out;
        opacity: 0;
        width: 100vw;
        height: 100%;
        position: absolute;
    }

    .container {
        transition: left $SlideInDuration ease-in;
        left: -$AppMenuWidth;
        width: $AppMenuWidth;
        overflow: hidden;
        height: 100%;
        position: absolute;
    }

    &.visible {
        display: block;

        .container {
            transition: left $SlideInDuration ease-out;
            left: 0;
        }

    }
}

/* THEME */
.theme-default {
    $side-panel-opacity: .5;

    &.side-panel .background {
        background-color: $accent-background;
    }
    &.side-panel.visible .background {
        opacity: $side-panel-opacity;
    }
    &.side-panel .container {
        background: $accent-background;
    }
}