$widget-border: 1px solid #ccc;
$input-background: white;

.editor {
  flex: 1 0 0;
  display: flex;
  flex-flow: column nowrap;

  .header {
    padding: 5px 5px;
    display: grid;
    grid-template-columns: 1fr;
    font-weight: bold;

    .date {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      align-self: center;
      justify-self: center;
    }

    .hide {
      display: none;
    }

    .progress {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      align-self: center;
      justify-self: start;
    }

    .upload {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      align-self: center;
      justify-self: end;
      cursor: pointer;
    }    
  }

  textarea {
    background: transparent;
    flex: 1;
    resize: none;
    outline: none;
    line-height: 1.5em;
    font-family: sans-serif;
    padding: .5em;
    border: none;
  }
  input, textarea {
    font-size: 16px;
  }
}

.stats {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 5px;
  .count {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: flex;
    p {
      margin: auto;
    }
  }
  .daily-progress {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  .details {
    padding-left: 10px;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: stretch;
  }
}


.widget {
  border: none;
  border-top: $widget-border;
  border-bottom: $widget-border;
  margin: 10px 0;

  &.react-calendar {
    border: none;
    border-top: $widget-border;
    border-bottom: $widget-border;
  }

  box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.4);
  &:first-child {
    border-top: none;
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;

    box-shadow: 0px -3px 8px -6px rgba(0,0,0,0.4);
  }
}