$widget-border: 1px solid #ccc;
$input-background: white;

.editor {
  flex: 1 0 0;
  display: flex;
  flex-flow: column nowrap;

  .header {
    padding: 5px 0;
   align-self: center;
   font-weight: bold;
  }

  textarea {
    background-color: $input-background;
    flex: 1;
    resize: none;
    outline: none;
    line-height: 1.5em;
    font-family: sans-serif;
    padding: .5em;
    border: none;
  }
  input {
    background-color: $input-background;
  }
}


.widget {
  border: none;
  border-top: $widget-border;
  border-bottom: $widget-border;
  margin: 10px 0;

  &.react-calendar {
    border: none;
    border-top: $widget-border;
    border-bottom: $widget-border;
  }

  box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.4);
  &:first-child {
    border-top: none;
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}